@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700px;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin: 15px 0 20px 0;
}
.section-p1{
padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:#fff;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}

/* header Start */
#header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:rgb(11, 214, 214);
}
#header .logo span{
   color:rgb(240, 186, 222);
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #dfe4f8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
content: "";
width: 30%;
height: 2px;
background: #088178;
position: absolute;
bottom: -4px;
left: 20px;
}
#mobile1{
    display: none;
    align-items: center;
}
#close{
display: none;
}


               /*   Home Page     */
#hero{
    background-image: url("image/back12.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url("image/back13.jpg");
    background-color: transparent;
    color:#088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
}
#hero button:hover{
    background: linear-gradient(to right,#ced8ff,white,#c4cffa);
    
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background: color #d1e8f2;;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6bdf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top:20px ;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
color: #000;
font-size: 18px;
text-decoration: line-through;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 25px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    
    color: #088178;
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    right: 10px;
} 
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("image/back13.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color:#1a1a1a;
    font-size: 16px;
}
#banner h2{
    color:#1a1a1a;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
color:#ef3636;
}
#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("image/seashell\ mirror.jpg");
    min-width:580px; 
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
background-image: url("image/coconut\ lamp2.jpg");
}
#sm-banner h4{
    color:#21e0d4;
    font-size: 25px;
    font-weight: bold;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("image/carry.jfif");
    min-width:30%; 
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    
}
#banner3 .banner-box2{
    background-image: url("image/clay\ utensil2.jfif");
}
#banner3 .banner-box3{
    background-image: url("image/woodehandpainted.jfif");
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color:whitesmoke;
    font-weight: 800;
    font-size: 15px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background:#E3E6F3;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow i{
color: #465b52;
padding-right: 4px;
cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
#mobile1{
    display: flex;
    align-items: center;
    display: none;
} 
/*   single Page   */
#prodetails{
    display: flex;
    
}
#prodetails .single-pro-image{
    width: 100%;
    margin-top: 0px;
}
#prodetails .single-pro-details{
    width: 100%;
}
#page-header{
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    
    flex-direction: column;
    padding: 14px;
    background-attachment: fixed;
}


.page-header3{
    background-image: url("image/clay\ utensil2.jpg");  
}
#page-header h2,
#page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px ;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*  Single Product   */
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
width: 40%;
margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    /* padding: 40px 0 20px 0; */
    text-transform: capitalize;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
    color: #088178;
}
#prodetails .single-pro-details span{
    font-size: 19px;
    text-decoration: line-through;
    color:#000;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
}
#prodetails .single-pro-details p{
    line-height: 25px;
}
.title{
  padding: 10px;
    font-size:33px;
    font-weight: bold;
}
.link{
   font-weight: 600;
    padding: 11px 6px;
}
.link a{
    color:whitesmoke;
 background:linear-gradient(45deg,#ff79ff,pink,#ff79ff);
 padding: 10px;
 border-radius: 20px;
}
 
/* Start Media Query*/
@media(max-width:993px){
    #feature .fe-box{
        width: 210px;
    }
    #product1 .pro{
        width: 43%;
    }
    .contact{
        padding: 50px;
    }
     /* .container{
        flex-direction: column;
    }*/
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container{
        flex-direction: column;
    }
    .container 
    .contactForm{
        width: 80%;
    }
}

 /* Cart Page */
 #cart{
    overflow-x: auto;
 }
 #cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 12px;
 }
 #cart table img{
    width: 70px;
 }
 #cart table td:nth-child(1){
    width: 100px;
    text-align: center;
 }
 #cart table td:nth-child(2){
    width: 87px;
    text-align: center;
 }
 #cart table td:nth-child(3){
    width: 147px;
    text-align: center;
 }
 #cart table td:nth-child(4),
 #cart table td:nth-child(5),
 #cart table td:nth-child(6){
    width: 120px;
    text-align: center;
 }
 #cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
 }
 #cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
 }
 #cart table thead td{
    font-weight: 700;
    text-decoration: uppercase;
    font-size: 20px;
    padding: 18px 0;
    
 }
 #cart table tbody tr td{
    padding-top: 15px;
    
 }
 #cart table tbody td{
    font-size: 17px;
    font-weight: 300;
 }
 #cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 #cupon {
  width: 50%;
  margin-bottom: 30px;
 }
 #cupon h3,
 #subtotal h3{
    padding-bottom: 15px;
 }
 #cupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
 }
 #cupon button,
 #subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
 }
 #subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
 }
 #subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
 }
 #subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
 }
@media (max-width:850px){
    .section-p1 {
        padding: 40px 40px;
    }
    
        #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }  
    
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile1 i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    } 
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%; 
       }
       #feature {
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .pro-container{
      justify-content: center;
    }
    #product1 .pro{
        margin: 15px ;
        
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #banner3{
       padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }
     
   
   .container
    .contactForm{
        width: 100%;
        padding: 9px;
    }
   
    
}
@media(max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
   #feature{
    justify-content: space-between;
   }
   #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
   }
   #feature .fe-box h6{
    font-size: 23px;
   }
   #product1 .pro{
    width: 100%;
   }
   #banner{
    height: 40vh;
   }
   #sm-banner .banner-box{
    height: 40vh;
   }
   #sm-banner .banner-box2{
    margin-top: 20px;
   }
   #banner3{
    padding: 0 20px;
   }
   #banner3 .banner-box{
    width: 100%;
   }
   footer .copyright{
    text-align: start;
   }
  
  .container .contactInfo{
    margin-right: 250px;
  }
    /*  single Page   */
#prodetails{
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-image{
    width: 100%;
    margin-top: 0px;
}
#prodetails .single-pro-details{
    width: 100%;
}
.container 
    .contactForm{
        width: 100%;
    }
   
    /* cart page */
    #cart-add{
        flex-direction: column;
    }
    #cupon{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }
}
/* Contact Page */

.contact{
    position:relative; 
    min-height:100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("contact2.jpeg");
    background-size: cover;
   
}
.contact .content{
    max-width: 800px;
    text-align: center;
 }
 .contact .content h2{
    font-size: 36px;
    font-weight: bolder;
    color: #fff;
 }
 .contact .content p{
    font-weight: bold;
    color: #fff;
 }
 .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
 }
 .container .contactInfo{
    width: 50%;
    display:flex;
    flex-direction: column;
    font-weight: bold;
 }
 .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    
 }
 .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
 }
 .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
 }
 .container .contactInfo .box .text h3{
    font-weight:600;
    color: #fff;
 }
 
 .contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border: 2px solid white;
    border-radius: 45px;
    border: 5px solid #fff;
    box-shadow: 0 0 20px #fff ,inset 0 0 20px #fff;
 }
 
.contactForm h2{
    font-size: 30px;
    color: #000;
    font-weight: 500;
}
.contactForm:hover h2{
    color: rgb(0, 26, 255);
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~span,
.contactForm .inputBox input:valid ~span,
.contactForm .inputBox textarea:focus ~span,
.contactForm .inputBox textarea:valid ~span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background:linear-gradient(45deg,blue,lightblue);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
}
/* About Us Page*/
.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about-section{
    background: url("i1.jpg") no-repeat  left;
    background-size: 55%;
    background-color:#fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545455;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.card{
    background: #fdfdfd;
    border: 2px solid #77c1bc;
    margin: 31px;
   
}
.card-header{
    background: #0881783d;
    padding: 10px;
    font-size: 21px;
    border-bottom: 1px solid  #0881783d;

}
.card-body{
    margin: 19px;
    font-size: 18px;
    font-weight: 500;
  
  
}
.form-group .form-control{
display: block;
width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #40c7bd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    display: block;
    width: 100%;
    background: #10a79c;
    border: 1px solid #10a79c;
    padding: 10px;
    border-radius:10px ;

}
#payment-button-amount{
    font-size: 17px;
    color: white;
    font-weight: bold;
}
.complete{
    border: 1px solid #10a79c;
    border-radius: 10px;
    padding: 5px;
    background: #10a79c;
    font-size: 17px;
    font-weight: bold;
}
.complete a{
    color: white;
}
.pending a{
    color: white;
}
.pending{
    border: 1px solid rgb(255, 123, 0);
    border-radius: 10px;
    padding: 5px;
    background: rgb(255, 123, 0);
    font-size: 17px;
    font-weight: bold;
}
.delete{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
    background: rgb(255, 0, 0);
    font-size: 17px;
    font-weight: bold;
}
.delete a{
    color: white;
}
.edit{
    border: 1px solid rgb(29, 208, 221);
    border-radius: 10px;
    padding: 5px;
    background: rgb(29, 208, 211);
    font-size: 17px;
    font-weight: bold;
}
.edit a{
    color: white;
}

/* login Page*/

.hero1{
    height: 100%;
    width: 100%;
    background-image:url("i1.jpg");
    background-position: top 25% right 0;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    object-fit: cover;
}
.form-box{
    width: 380px;
    height: 587px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 28px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
 border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.field_error{
    color: red;
}
.ferror{
    text-align: center;
    font-weight: bold;
}
